<configuration>
<system.webServer>
<rewrite>
<rules>
<rule name="Redirect" stopProcessing="true">
<match url=".*" />
<conditions>
<add input="{HTTP_HOST}" pattern="^zealous-ocean-004758e03.2.azurestaticapps.net$" />
</conditions>
<action type="Redirect" url="https://ovfkonsern.sharepoint.com/Sites/tunet/SitePages/Home.aspx" redirectType="Permanent" />
</rule>
</rules>
</rewrite>
</system.webServer>
</configuration>
