<configuration>
<system.webServer>
<rewrite>
<rules>
<rule name="Redirect" stopProcessing="true">
<match url=".*" />
<conditions>
<add input="{HTTP_HOST}" pattern="^red-plant-029d25703.4.azurestaticapps.net$" />
</conditions>
<action type="Redirect" url="https://www.kirkenshus.no redirectType="Permanent" />
</rule>
</rules>
</rewrite>
</system.webServer>
</configuration>
